<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <ion-img class="logo-img" src="../../assets/home/logo-img.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="title-section">
      <h1 class="main-title">GeoSP: Seu Aplicativo de Turismo Geográficas de São Paulo</h1>
      <img class="title-image" src="../../assets/home/img1.png" alt="Imagem do GeoSP">
    </div>

    <div class="description-section">
      <p class="description-text">O GeoSP é uma plataforma que oferece acesso a diversas informações geográficas sobre
        o estado de São Paulo.</p>
    </div>

    <div class="features-section">
      <h2 class="section-title">Funcionalidades Principais</h2>
      <ul class="features-list">
        <li class="feature-item">Visualização de Google Maps</li>
        <li class="feature-item">Consulta de dados sobre a cidade</li>
        <li class="feature-item">Acesso a informações sobre turismo</li>
        <li class="feature-item">Aventuras, Restaurantes, viagens e dados geográficos</li>
      </ul>
    </div>

    <div class="tabs-section">
      <h2 class="section-title">Abas Disponíveis</h2>
      <ul class="tabs-list">
        <li class="tab-item"><ion-icon name="restaurant-outline"></ion-icon><strong> Restaurantes</strong> Explore os
          melhores restaurantes da cidade.</li>
        <li class="tab-item"><ion-icon name="airplane-outline"></ion-icon><strong> Viagens:</strong> Melhores locais para
          você.</li>
        <li class="tab-item"><ion-icon name="map-outline"></ion-icon><strong> Aventuras:</strong> Melhores locais para
          diversão e entre outros.</li>
      </ul>
    </div>
  </div>
</ion-content>