<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <ion-img class="logo-img" src="../../assets/home/logo-img.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="text-align:center; margin: 20px 0;">Viagens</ion-title>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto1.jpg" />
    <ion-card-header>
      <ion-card-title>Parque Ibirapuera</ion-card-title>
      <ion-card-subtitle>Parques</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Parque Ibirapuera é um parque urbano localizado na cidade de São Paulo, Brasil. Em 2017, foi o parque mais
      visitado da América Latina, com aproximadamente 14 milhões de visitas, além de ser um dos locais mais fotografados
      do mundo.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.512124666912!2d-46.6584346!3d-23.585959499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59f1069d11d1%3A0xcb936109af9ce541!2sParque%20Ibirapuera!5e0!3m2!1spt-BR!2sbr!4v1741698926909!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto2.jpg" />
    <ion-card-header>
      <ion-card-title>Avenida Paulista</ion-card-title>
      <ion-card-subtitle>Pontos de Interesse</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A Avenida Paulista é o mais importante e simbólico logradouro do município de São Paulo, o mais populoso e rico do
      Brasil. Está localizada no limite entre as zonas Centro-Sul, Central e Oeste; e em uma das regiões mais elevadas
      da cidade, chamada de Espigão da Paulista.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1973535855986!2d-46.65906922466984!3d-23.561354478799874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1741699015867!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto3.jpg" />
    <ion-card-header>
      <ion-card-title>Pinacoteca do Estado de São Paulo</ion-card-title>
      <ion-card-subtitle>Museus de arte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A Pinacoteca de São Paulo é um dos mais importantes museus de arte do Brasil e o mais antigo do Estado de São
      Paulo, fundado em 1905 e regulamentado como museu público estadual desde 1911.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.9483176172917!2d-46.633676!3d-23.5343612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5858e87e68e7%3A0xdcc3da8573212301!2sPinacoteca%20de%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1741719504006!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto4.jpg" />
    <ion-card-header>
      <ion-card-title>Bairro da Liberdade</ion-card-title>
      <ion-card-subtitle>Bairros</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Um alto arco torii vermelho marca a entrada da Liberdade, a região japonesa da cidade, onde as ruas são decoradas
      com lanternas. As opções gastronômicas incluem bares de sushi, lojas de ramen e barracas de macarrão yakisoba, bem
      como restaurantes chineses e coreanos. As lojas de presentes e os supermercados vendem quimonos, panelas e
      iguarias asiáticas importadas, enquanto a Feira da Liberdade, aos domingos, tem acessórios e artesanato.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14628.346581618292!2d-46.6323597!3d-23.565331399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59a00cc9896b%3A0x4d7fa8becba4e40d!2sLiberdade%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1741699321410!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto5.jpg" />
    <ion-card-header>
      <ion-card-title>Neo Quimica Arena</ion-card-title>
      <ion-card-subtitle>Arenas e estádios</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      A Neo Química Arena, anteriormente denominada como Arena Corinthians, é um estádio de futebol localizado no
      distrito de Itaquera, na Zona Leste do município de São Paulo, Brasil. De propriedade do Sport Club Corinthians
      Paulista, sua capacidade é de 48.905 lugares, sendo o 11º maior estádio do Brasil.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6437208152183!2d-46.474229199999996!3d-23.5453134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce66dec98fb855%3A0xf2b061ffbcd2ecf8!2sNeo%20Qu%C3%ADmica%20Arena!5e0!3m2!1spt-BR!2sbr!4v1741699488257!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto6.jpg" />
    <ion-card-header>
      <ion-card-title>Museu de Arte de São Paulo Assis Chateaubriand - MASP</ion-card-title>
      <ion-card-subtitle>Museus de arte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Museu de Arte de São Paulo Assis Chateaubriand é um centro cultural e museu de arte brasileiro fundado em 1947
      pelo empresário e jornalista paraibano Assis Chateaubriand. Entre os anos de 1947 e 1990, o crítico e marchand
      italiano Pietro Bardi assumiu a direção do MASP a convite de Chateaubriand.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.195696784533!2d-46.6558819!3d-23.561414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ceb1eb771f%3A0xe904f6a669744da1!2sMuseu%20de%20Arte%20de%20S%C3%A3o%20Paulo%20Assis%20Chateaubriand!5e0!3m2!1spt-BR!2sbr!4v1741699691439!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto7.jpg" />
    <ion-card-header>
      <ion-card-title>Museu Catavento</ion-card-title>
      <ion-card-subtitle>Museus de ciências</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Museu Catavento é um museu interativo, inaugurado em 2009 com o propósito de se dedicar às ciências e sua
      divulgação e está localizado no Palácio das Indústrias, em São Paulo, Brasil.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6689119528105!2d-46.6273522!3d-23.5444078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58fe6597b5ab%3A0xb5320d52c494e282!2sMuseu%20Catavento!5e0!3m2!1spt-BR!2sbr!4v1741699832213!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto8.jpg" />
    <ion-card-header>
      <ion-card-title>Allianz Parque</ion-card-title>
      <ion-card-subtitle>Arenas e estádios</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Allianz Parque, conhecido popularmente em seus primórdios como Arena Palestra Itália ou Arena Palmeiras, é uma
      arena multiuso construída para receber espetáculos, concertos, eventos corporativos
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1357144011613!2d-46.678466199999995!3d-23.5276207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57fd1d715d45%3A0x864e5421d6195cb1!2sAllianz%20Parque!5e0!3m2!1spt-BR!2sbr!4v1741699906571!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto9.jpg" />
    <ion-card-header>
      <ion-card-title>Mercado Municipal de São Paulo</ion-card-title>
      <ion-card-subtitle>Feiras livres</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Prédio histórico com praça de alimentação e boxes que vendem frutas raras, verduras, legumes e laticínios.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.735281885282!2d-46.6294111!3d-23.542021700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5f8c61020205%3A0x9ae474c606fef4!2sMercado%20Municipal%20Paulistano!5e0!3m2!1spt-BR!2sbr!4v1741700000864!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/viagens/ponto10.jpg" />
    <ion-card-header>
      <ion-card-title>Mosteiro de São Bento</ion-card-title>
      <ion-card-subtitle>Monastério</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Igreja histórica ornamentada, missas com canto gregoriano e um monastério com padaria própria.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7315.599517166539!2d-46.637511023457805!3d-23.53970344622728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5855cddfa723%3A0x15c796418e23677!2sMosteiro%20de%20S%C3%A3o%20Bento!5e0!3m2!1spt-BR!2sbr!4v1741718877743!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
</ion-content>