<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <ion-img class="logo-img" src="../../assets/home/logo-img.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="text-align:center; margin: 20px 0;">Restaurantes</ion-title>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante1.jpg" />
    <ion-card-header>
      <ion-card-title>Sky Halll</ion-card-title>
      <ion-card-subtitle>Italiana, Francesa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante intimista com opções mediterraneas mirando principalmente a gastronomia da Itália, Espanha e França.
      Assinado pelo Chef Martin Casilli
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1554148496766!2d-46.666463300000004!3d-23.5628611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59f1a986c9f9%3A0xe7158ca605c0b23a!2sSky%20Hall%20Garden%20Bar!5e0!3m2!1spt-BR!2sbr!4v1741697254871!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante2.jpg" />
    <ion-card-header>
      <ion-card-title>Bistrot de Paris</ion-card-title>
      <ion-card-subtitle>Francesa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Instalado na Villa San Pietro, escondida no meio da agitação dos Jardins, o Bistrot de Paris foi repensado em
      todos os detalhes para se tornar um autêntico bistrot francês.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.141972172883!2d-46.665859999999995!3d-23.563343999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59d40767c243%3A0xc5b955262e0a1cca!2sBistrot%20de%20Paris!5e0!3m2!1spt-BR!2sbr!4v1741697381882!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante3.jpg" />
    <ion-card-header>
      <ion-card-title>Acrópoles</ion-card-title>
      <ion-card-subtitle>Frutos do mar, Mediterrânea</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante grego informal que serve polvo ao molho vinagrete, moussaka, lula recheada e vinhos.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.125629264513!2d-46.639228499999994!3d-23.527983499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58665646ba3f%3A0x72cef900bfb6dded!2sRestaurante%20Acr%C3%B3polis!5e0!3m2!1spt-BR!2sbr!4v1741696787247!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante4.jpg" />
    <ion-card-header>
      <ion-card-title>Sai Gon</ion-card-title>
      <ion-card-subtitle>Internacional, Asiática</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      SABORES VIETNAMITAS E ASIÁTICOS AQUI NO MISS SAIGON. BEM-VINDO AO MISS SAIGON. O Miss Saigon é um restaurante
      asiático que surpreende você com sabores exóticos e o uso de temperos. Divirta-se conosco e seja feliz e saudável.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.305248727468!2d-46.691991099999996!3d-23.557477999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a0ec8a9162f%3A0xd1d46ff71d5d3321!2sSaigon%20Restaurante!5e0!3m2!1spt-BR!2sbr!4v1741697688242!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante5.jpg" />
    <ion-card-header>
      <ion-card-title>Salve Jorge</ion-card-title>
      <ion-card-subtitle>Bares e pubs, Brasileira</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Menu diversificado de refeições completas, petiscos e cerveja, em ponto de encontro para confraternizações.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.627711617219!2d-46.63457359999999!3d-23.545888899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefeb6daacba55%3A0x15403acecc5532e9!2sSalve%20Jorge%20Centro!5e0!3m2!1spt-BR!2sbr!4v1741697892623!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante6.jpg" />
    <ion-card-header>
      <ion-card-title>Nico Pasta & Basta</ion-card-title>
      <ion-card-subtitle>Italiana, Europeia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante italiano clássico e refinado com adega de vinhos em ambiente colorido e paredes repletas de arte.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.454953319452!2d-46.606413399999994!3d-23.5880113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5bef19c1706f%3A0x60a89c8bcb57221!2sNico%20Pasta%20%26%20Basta!5e0!3m2!1spt-BR!2sbr!4v1741697992002!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante7.jpg" />
    <ion-card-header>
      <ion-card-title>Quinkas Bar Ipiranga</ion-card-title>
      <ion-card-subtitle>Bares e pubs, Brasileira</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante com parede de tijolos e terraço. No cardápio, hambúrgueres, petiscos, feijoada e cerveja artesanal.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.327561772502!2d-46.6017388!3d-23.5925826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5bbab6908a3f%3A0xa8d13c023be1c2bb!2sQuinkas%20Bar!5e0!3m2!1spt-BR!2sbr!4v1741698153360!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante8.jpg" />
    <ion-card-header>
      <ion-card-title>Restaurante Kleine-Gasse</ion-card-title>
      <ion-card-subtitle>Alemã</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante típico alemão há 7 anos oferecendo qualidade no cardápio e no atendimento, com seu prato tradicional e
      carro chef O joelho de porco. Conta também com outras opções de comida alemã e sul americana.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.8585399831327!2d-46.7158313!3d-23.6810163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce51ce28a1b565%3A0x9ce500721506b6d8!2sKleine%20Gasse!5e0!3m2!1spt-BR!2sbr!4v1741698294622!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante9.jpg" />
    <ion-card-header>
      <ion-card-title>Sapporo</ion-card-title>
      <ion-card-subtitle>Japonesa, Frutos do mar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Restaurante intimista com rodízio de sushi e cardápio à la carte com outros pratos japoneses tradicionais.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.007786295426!2d-46.6612221!3d-23.604053699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef59f52fba6bf%3A0x85610ff5eeb8eb43!2sRestaurante%20Sapporo!5e0!3m2!1spt-BR!2sbr!4v1741698414270!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/restaurantes/restaurante10.jpg" />
    <ion-card-header>
      <ion-card-title>Tandoor</ion-card-title>
      <ion-card-subtitle>Indiana, Asiática</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Local modesto com pratos da cozinha indiana tradicional preparados com muitas ervas e especiarias.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8203255329636!2d-46.6472632!3d-23.574895699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a1203c48ec7%3A0xd3860f18310240e5!2sTandoor!5e0!3m2!1spt-BR!2sbr!4v1741698542974!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
</ion-content>