<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <ion-img class="logo-img" src="../../assets/home/logo-img.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="text-align:center; margin: 20px 0;">Aventuras</ion-title>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura1.jpg" />
    <ion-card-header>
      <ion-card-title>Beco do Batman</ion-card-title>
      <ion-card-subtitle>Atração futurística</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Beco do Batman é uma travessa localizada na Vila Madalena, um bairro boêmio da zona oeste da cidade de São
      Paulo, situado no distrito de Pinheiros. Ele está localizado entre as vielas do bairro, mais precisamente nas ruas
      Gonçalo Afonso e Medeiros de Albuquerque, perto da Estação Clínicas do metrô.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3296589798556!2d-46.686578999999995!3d-23.5566009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575858b6a5b9%3A0xc5b1a9636043ff22!2sBeco%20do%20Batman!5e0!3m2!1spt-BR!2sbr!4v1741700339070!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura2.jpg" />
    <ion-card-header>
      <ion-card-title>Pico do Jaraguá</ion-card-title>
      <ion-card-subtitle>Montanhas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Instalado na Villa San Pietro, escondida no meio da agitação dos Jardins, o Bistrot de Paris foi repensado em
      todos os detalhes para se tornar um autêntico bistrot francês.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29280.473099205807!2d-46.78587762264122!3d-23.458331247698673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefc6ae642f6e9%3A0x8ee77220162d411a!2sPico%20do%20Jaragu%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1741711174791!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura3.jpg" />
    <ion-card-header>
      <ion-card-title>Autódromo José Carlos Pace - São Paulo</ion-card-title>
      <ion-card-subtitle>Pistas de corrida automobilística</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Autódromo José Carlos Pace é um autódromo municipal localizado no distrito de Cidade Dutra, na cidade de São
      Paulo, Brasil. Pela proximidade com o bairro de Interlagos, situado no distrito vizinho do Socorro, é popularmente
      chamado de Autódromo de Interlagos.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.194118009514!2d-46.69923!3d-23.704760999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4fc83e9584af%3A0x2ffcdc07da2ca5c0!2sAut%C3%B3dromo%20Jos%C3%A9%20Carlos%20Pace%20(Aut%C3%B3dromo%20de%20Interlagos)!5e0!3m2!1spt-BR!2sbr!4v1741720803766!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura4.jpg" />
    <ion-card-header>
      <ion-card-title>iFly São Paulo</ion-card-title>
      <ion-card-subtitle>Escola, Tecnologia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Escola de voo indoor, que ensina as técnicas de voo e manobras da modalidade em um túnel de vento de alta
      tecnologia.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1978039295464!2d-46.70470559999999!3d-23.5613383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57b23b37286d%3A0x6e0a9fdd48881007!2siFLY%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1741720985642!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura5.jpg" />
    <ion-card-header>
      <ion-card-title>Trilha do Pai Zé</ion-card-title>
      <ion-card-subtitle>Trilhas para caminhada</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A trilha do Pai Zé possui aproximadamente 1800m de extesão, sendo a principal trilha da unidade por proporcionar a
      possibilidade de ir da parte baixa do parque até o ponto mais alto, onde se localiza o pico do jaraguá; ao longo
      do percurso é possivel de observar dois tipos de bioma (mata atlântica e cerrado) e seus respectivos exemplares de
      flora nativa.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.160810483944!2d-46.761591700000004!3d-23.4546632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefc6c13cba525%3A0x1a3c49ed73142fb0!2sTrilha%20do%20Pai%20Z%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1741721153924!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura6.jpg" />
    <ion-card-header>
      <ion-card-title>Praça da Sé</ion-card-title>
      <ion-card-subtitle>Pontos de Interesse</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A Praça da Sé é um espaço público localizado no bairro da Sé, no distrito homônimo, no Centro do município de São
      Paulo, no Brasil. É considerado o centro geográfico da cidade. Nela, localiza-se o monumento marco zero do
      município.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.504855336168!2d-46.639071813065485!3d-23.55030490652856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59abaaae4233%3A0xd9186faf714bc5b1!2zUHJhw6dhIGRhIFPDqSAtIFPDqSwgU8OjbyBQYXVsbyAtIFNQLCAwMTAwMS0wMDA!5e0!3m2!1spt-BR!2sbr!4v1741721365465!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura7.jpg" />
    <ion-card-header>
      <ion-card-title>Centro de Esportes Radicais</ion-card-title>
      <ion-card-subtitle>Parques</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Centro de Esportes Radicais da cidade São Paulo, no Bom Retiro ao lado do Estádio Municipal de Beisebol Mie
      Nishi e da Marginal Tietê. Com aproximadamente 38.500 m², o local possui ciclovia, pista de caminhada, uma Mini
      Ramp, pista para iniciantes; e a Pumptrack, um circuito com início, meio, mas nunca um fim, onde o praticante anda
      “bombeando”, sem impulsionar, apenas ganhando velocidade na medida em que passa pelos obstáculos.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.353031798133!2d-46.644140500000006!3d-23.5198017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce587110e82cb1%3A0xdcbf5b8e0a11c38!2sCENTRO%20DE%20ESPORTES%20RADICAIS!5e0!3m2!1spt-BR!2sbr!4v1741721445020!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura8.jpg" />
    <ion-card-header>
      <ion-card-title>Túnel da Rota</ion-card-title>
      <ion-card-subtitle>Museus militares</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O túnel da ROTA, foi transformado em um Museu Subterrâneo, possui salas que contam parte da história do quartel
      através de fotografias de época, cartazes e objetos. É possível visitar, de forma gratuita.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.019123748608!2d-46.63465492467076!3d-23.531814578820065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58f5f497be25%3A0xe6c49a29bf083620!2sROTA%20-%20Batalh%C3%A3o%20Tobias%20de%20Aguiar!5e0!3m2!1spt-BR!2sbr!4v1741721605491!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura9.jpg" />
    <ion-card-header>
      <ion-card-title>Pegue sua Mochila </ion-card-title>
      <ion-card-subtitle>Excursões de vários dias, Excursões ecológicas, Passeios turísticos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Organizam viagens somente em grupos com datas programadas, de janeiro à dezembro. Desde passeios de 1 dia a
      viagens com pernoite. Principais regiões: São Paulo, Rio de Janeiro, Minas Gerais, Parana e Santa Catarina.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467688.89495119266!2d-46.5952992!3d-23.6824124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce502d1d89a4ed%3A0x3e2fa081547fd161!2sPegue%20sua%20Mochila%20Ag%C3%AAncia%20de%20Viagens%20e%20Turismo%20Ltda!5e0!3m2!1spt-BR!2sbr!4v1741721719232!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/aventuras/aventura10.jpg" />
    <ion-card-header>
      <ion-card-title>Terras e Rumos Turismo e Oficinas Culturais</ion-card-title>
      <ion-card-subtitle>Excursões de vários diasExcursões por patrimônios históricos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Agência de Turismo especializada em viagens em grupos. Nosso conceito e missão são realizações de viagens
      sustentáveis, realizadas e elaboradas por profissionais capacitados sempre com o envolvimento de agentes do
      turismo local.
    </ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0521787851444!2d-46.6496025!3d-23.5665694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59b8c26fffff%3A0xe7f6f7e23c35e458!2sTerras%20e%20Rumos%20Turismo!5e0!3m2!1spt-BR!2sbr!4v1741721871980!5m2!1spt-BR!2sbr"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card>
</ion-content>